li > input[type="text"] {
  background-color: var(--gray-500);
  color: var(--gray-100);
  outline: transparent;
  border: transparent;
}

.content > li + li {
  margin-top: 1rem;
}

li svg {
  color: var(--gray-300);
}

li > button {
  background-color: transparent;
  outline: 0;
  border: 0;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.content > li > button > svg:hover {
  color: var(--danger);
}

input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid var(--blue);
  border-radius: 12px;
  cursor: pointer;
}

input[type="checkbox"]:hover {
  border: 2px solid var(--blue-dark);
}

input[type="checkbox"]:checked {
  background-color: var(--purple-dark);
  border-color: transparent;
  background-position: center;
  background-image: url("../assets/Check.svg");
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked + input[type="text"]{
  text-decoration: line-through;
  color: var(--gray-300);
}

input[type="checkbox"]:checked:hover {
  background-color: var(--purple);
}
